<html>

<head>
<title>Guidance</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif">

<h1><b>Guidance</b></h1>

<p style = "color: red; margin-left: 1em"><b>Please note that the outputs of this calculator are based on estimated and/or forecasted GDP deflators published by HMT which themselves are subject to change. Consequently these outputs should be treated as an approximation based on currently available information and not a firm prediction of future prices.</b></p> 

<h2><b>Purpose</b></h2>

<p style = "margin-left: 1em">This calculator is designed to easily convert:</p>

<ul style="list-style-type:none;">
  <p><li>- Nominal values into real values.</li></p>
  <p><li>- Real values into nominal values.</li></p>
  <p><li>- Real values from a particular year into real values of another year (rebase real values).</li></p>
</ul> 

<h2><b>Background</b></h2>

<p style = "margin-left: 1em">Inflation is defined as the general increase in prices over time. The nominal price is the price paid for something at the time it is bought. For example, the nominal wage represents the price that labour are paid 'in cash' for providing labour services to firms. If the price of goods and services in the economy rises faster than nominal wages, the cost of labour falls in real terms, other things being equal.</p> 											

<p style = "margin-left: 1em">For instance, in the labour force average nominal wages have broadly stayed the same since the financial crash in 2008, however inflation has continued to be positive. As inflation has been higher than the growth in nominal wages, this is the same as saying that the price of goods and services in the economy have grown at a higher rate than nominal wages. Consequently, as nominal wages are only able to buy a smaller basket of goods and services year-on-year there has been a reduction in real wages.</p>														

<p style = "margin-left: 1em">Real prices are prices that have been adjusted to take out inflation. This means comparisons can be perfromed between years, as in the wage example above.</p>														

<h2><b>How to use </b></h2>

<ol>
  <p><li>Choose what you would like the calculator to do; convert nominal values to real values, real values to nominal or rebase real values.</li></p>
  <p><li>Choose the time period your data refers to, either the financial or calendar year.</li></p>
  <p><li>When "Nominal to Real" is selected only "Convert to year" needs to be chosen, when "Real to Nominal" is selected only "Convert from year" needs to be chosen. Whereas when "Rebase Real Values" is chosen both the convert to year and convert from year criteria need to be filled. Choose as applicable.	</li></p>
  <p><li>Paste your data into the table in the <b>'Input'</b> tab of the Deflator Calculator.</li></p>
  <p><li>The data will then be output in the <b>'Output'</b> tab on according to the criteria specified.</li></p>
</ol> 

<h2><b>Common problems </b></h2>

<p style = "margin-left: 1em">Please direct any queries to <a href="mailto:joshua.walden@justice.gov.uk">Joshua Walden</a> or <a href="mailto:daniel.white@justice.gov.uk">Daniel White</a>

<h2><b>How to report numbers </b></h2>

<p style = "margin-left: 1em">When reporting real to nominal numbers: Be explicit in the year you are converting from, e.g. these values were real figures that have been converted into nominal figures based on information from year XXXX.</p>														

<p style = "margin-left: 1em">When reporting nominal to real figures: Be explicit in the year you are converting to, e.g. these are real figures measured in year XXXX prices.</p>														
<p style = "margin-left: 1em">Finally when rebasing real values: Be clear in which years you are converting to and from and which is the new base year.</p>				
<p style = "margin-left: 1em">For all of the above, remember to say whether the calculations are based on the financial or the calendar year.</p>														
<div> </div>


</body>
</html>
